* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-family: "Boogaloo", cursive;
  font-family: "Baloo", cursive;
  color: black;
}
/*rgb(4, 189, 102)*/

.header {
  background: black;
  height: 500px;
  max-width: 100%;
}

h1 {
  font-size: 100px;
  padding: 10%;
  font-family: "Pacifico", cursive;
  color: rgb(0, 195, 243);
  font-weight: 100;
}

.info,
.content-contact {
  background: rgb(0, 195, 243);
  height: 500px;
}

.info h3,
.content-contact {
  color: black;
  padding: 10%;
  font-size: 50px;
}

.content-skills {
  background: black;
  height: 500px;
}

.skills {
  max-width: 100%;
  margin: 200px auto;
}

.skill {
  display: inline-block;
  color: rgb(0, 195, 243);
  border: 5px solid rgb(0, 195, 243);
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  font-size: 20px;
}

.skill:hover {
  color: black;
  background: rgb(0, 195, 243);
  cursor: pointer;
}

/* .content-skills h3 {
  color: rgb(0, 195, 243);
  padding: 10%;
  font-size: 50px;
} */

.footer {
  background: black;
  height: 250px;
}

.footer h3 {
  color: rgb(0, 195, 243);
  padding: 5%;
  font-size: 25px;
}

/*#16bade*/
