* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  color: rgb(173, 173, 173);
  color: #fff;
}

.first-view {
  position: relative;
  height: 100vh;
  background: url("https://hdqwalls.com/wallpapers/batman-watching-gotham-b3.jpg")
    no-repeat center center/cover;
}

.first-view::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 200px 200px 200px #000000;
}

.first-view .main-content h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 3vw;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  z-index: 1;
  opacity: 0.6;
}

.highlighted {
  color: #39ff14;
  opacity: 1;
}

.first-view .main-content h3 {
  position: absolute;
  top: 54%;
  left: 50%;
  font-size: 2vw;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  z-index: 1;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(57, 255, 0.6);
  opacity: 0.6;
}

.skills-info-section {
  position: relative;
  background: black;
}

.skills-info-section h1 {
  font-size: 2vw;
  width: 10%;
  margin: auto;
  padding: 5% 0 1% 0;
  text-align: center;
  border-bottom: 1px solid #39ff14;
  margin-bottom: 10%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.skill {
  position: relative;

  border-radius: 10px;
  padding: 10px;
  margin: 20px 20px 50px 20px;
  flex: 1;
  text-align: center;
  flex: 20%;
  height: 200px;
}

.skill img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skill p {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
  color: #39ff14;
  padding-bottom: 10px;
  border-bottom: 1px solid #39ff14;
}

@media only screen and (max-width: 800px) {
  .first-view .main-content h1 {
    font-size: 7vw;
    width: 100%;
  }

  .first-view .main-content h3 {
    font-size: 3vw;
    top: 51%;
    width: 90%;
    border-width: 1px;
  }

  .first-view::after {
    box-shadow: inset 50px 50px 50px #000000;
  }

  .skills-info-section h1 {
    width: 30%;
    font-size: 4vw;
  }

  .skill {
    flex: 40%;
  }

  .skill img {
    width: 70px;
    height: 70px;
  }

  .skill p {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 350px) {
  .skill {
    flex: 30%;
  }

  .skill p {
    color: #fff;
  }
}
